html, body, #root {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  color: #00305C;
  font-weight: 600;
}

.content-container .form label {
  color: #00305C;
  font-weight: 600;
}

.highlight {
  color: #FF206D;
}

button.btn {
  color: #FF206D;
  background: white;
  border: 1px solid #FF206D;
  font-weight: 600;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:active {
  background-color: #FF206D !important;
  color: white;
  border: 1px solid white;
}

.grey-text {
  color: rgb(147, 164, 170);
}

.body-text {
  color: #212529;
}

#content {
  height: 100%;
  padding: 25px 5% 0 5%;
  background: linear-gradient(#F9F9F9 50%, #FF206D 50%);
}

.content-container {
  padding:5vh;
  background: #F9F9F9;
  border-radius: 12px;
}

.form-group {
  margin-bottom: 18px;
}
